<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>C:\Temp\jd_BookShop.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>JDBookShop/JdBookShop</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="book_shop3Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=KUANGZ4\MSSQLSERVER2012;Initial Catalog=book_shop3;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=KUANGZ4\MSSQLSERVER2012;Initial Catalog=book_shop3;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Bookshop.Model.book_shop3Entities, Bookshop.Model" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=KUANGZ4\MSSQLSERVER2012;Initial Catalog=book_shop3;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=KUANGZ4\MSSQLSERVER2012;Initial Catalog=book_shop3;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-jd_BookShop-20170830141917.mdf;Initial Catalog=aspnet-jd_BookShop-20170830141917;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-jd_BookShop-20170830141917;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-jd_BookShop-20170830141917.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)book_shop3Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=KUANGZ4\MSSQLSERVER2012;Initial Catalog=book_shop3;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=KUANGZ4\MSSQLSERVER2012;Initial Catalog=book_shop3;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>